.top-rated-food .container{
    margin-top: 20px;
    height:fit-content;
    background-color: var(--white);
    padding-bottom:5rem;
    border:2px solid var(--pink);
}
.cards{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1rem;
    cursor: pointer;
}
.card1{
    background-color: var(--light);
     width: 250px;
     height:350px;
     overflow: hidden;
}
.card2{
    background-color: var(--light);
    width: 250px;
    height:350px;
    overflow: hidden;

}
.card3{
    background-color: var(--light);
    width: 250px;
    height:350px;
    overflow: hidden;
  
}
.card4{
    background-color: var(--light);
    width: 250px;
    height:350px;
    overflow: hidden;
  
}

.card-img img{
    width: 100%;
    aspect-ratio: 1/1;
    display: block;
    
}
.card-img:hover{
    transform: scale(2);
    transition: all 2s;
}
.main-text h1{
    text-align: center;
    padding: 10px 0;
    font-size: 2rem;
    text-transform: capitalize;
    position: relative;
    margin-bottom: 1rem;

}
.main-text h1::before{
    content: "";
    width: 7.2em;
    height: 5px;
    background-color:var(--pink);
    position: absolute;
    bottom: 8px;
   
   
}
.card-text{
    text-align: center;
    margin-top: 0.8rem;
}
